/* css for Home page  */
:root{
    --primary-color:#1E40AF;
    --secondary-color:#BFDBFE;
}
body{
    margin: 0;
    overflow-x: hidden;
    
}
#navigation{
    background-color: var(--primary-color);
    height: 5rem;
    width: 100% ;
}
#navlabel{
    font-size: 1.9rem;
    color: white;
    position: relative;
    left: 2rem;
    top: 1.5rem;
}
#navItems{
    display: flex;
    justify-content: end;
    position: relative;
    right: 20rem;
    top: -1rem;

}
.navItem{
    text-decoration: none;
    padding: 2rem 1rem;
    margin-top: -2rem;
    color: white;
    font-size: 1.5rem;
}
#content{
    margin-top: -2rem;
}
#text{
    height: 25rem;
    width: 35rem;
    font-size: 2rem;
    text-align: center;
    margin-left: 20rem;
}
#getStartedbtn{
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
}
#GetAnkerTag{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.fa-github{
    position: relative;
    height: 1.2rem;
    width: 1rem;
    top:-1.6rem;
    left: 2.3rem;
    color: white;
}
.github{
    color: white;
    text-decoration: none;
    margin-top: 1.9 rem;
    font-size: 19px;
}
#githubid{
    position:relative;
    left: 15rem;
}

/* css for doc */

.sidebarItem{
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin-left: -1rem;
}
#sidehead{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
#sidebar{
    height: 34.5rem;
    width: 15rem;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}
#sidebar::-webkit-scrollbar{
    width: 0.4rem;
    background:white;

}
#sidebar::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    height: 30rem;
    background-color:gray;
    
}
.AnkerItem{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}
.list{
    margin-top: -1rem;
}
#ItemDiv:hover{
    height: 3rem;
    width: 15rem;
    background-color: var(--secondary-color);
    color: blue;
    padding: 0.1rem 3rem;
    border: 1px solid black;
}


