<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/272d1ec438.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Alert.css">
</head>
<body>
    <nav id="navigation">
        <label id="navlabel">Component Library</label>
        <ul id="navItems">
            <a  class="navItem" href="/index.html">Home</a>
            <a  class="navItem" href="components/Avtar.html">Documentation</a>
            <div id="githubid"> 
                <i class="fab fa-github"></i>
                <a  class="github" href="https://github.com/neetukumari4858?tab=repositories">Github</a>
            </div>
        </ul>
    </nav>
    <div id="outerDiv"></div>
        <div id="sidebar">
            <div id="sidehead">
                <h3>Components</h3>
            </div>
            <ul class="list">
                <li class="sidebarItem"><a class="Anchor_link" href="Avtar.html">Avatar</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="Alert.html">Alerts</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Badge">Badge</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Button">Button</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Cards">Cards</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Form">Form</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Image">Image</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Lists">Lists</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Modal">Modal</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Navigation">Navigation</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Rating">Rating</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Slider">Slider</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Grid">Grid Simplified</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Typography">Typography</a></li>
                <li class="sidebarItem"><a class="Anchor_link" href="#Toast">Toast</a></li>
            </ul>
        </div>
        <div id="container">
            <div id="Alerts_box">
                <h1>Alerts Box</h1>
                <p id="Alert_paragraph">Alerts are used to attract user's attention for important information without interrupting the user's flow.</p>
                <h3>Example of Alert Bar</h3>
                <div id="content_Div">
                    <div class="Alert_bar_div">
                        <div id="inner_alert_bar1_div">
                            <div id="outer_Alert_bar1_div"> ⚠️ This is warning</div>
                        </div>
                        <div id="inner_alert_bar2_div">
                            <div id="outer_Alert_bar2_div"> ❌ This is Danger </div>
                        <div>
                        <div id="inner_alert_bar3_div">
                            <div id="outer_Alert_bar3_div"> ✔️ This is Success </div>
                        </div>
                    <div>
                </div>
                <h2> Copy and Use it  ⬇</h2>
                <div id="Code_Container">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=elixir&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%2520%253Cdiv%2520id%253D%2522inner1%2522%253E%250A%2520%2520%2520%2520%2520%253Cdiv%2520id%253D%2522inner2%2522%253E%2520%25E2%259A%25A0%25EF%25B8%258F%2520This%2520is%2520warning%253C%252Fdiv%253E%250A%2520%253C%252Fdiv%253E%250A%2520%253Cdiv%2520id%253D%2522inner3%2522%253E%250A%2520%2520%2520%2520%2520%253Cdiv%2520id%253D%2522inner4%2522%253E%2520%25E2%259D%258C%2520This%2520is%2520Danger%2520%253C%252Fdiv%253E%250A%2520%253Cdiv%253E%250A%2520%253Cdiv%2520id%253D%2522inner5%2522%253E%250A%2520%2520%2520%2520%2520%253Cdiv%2520id%253D%2522inner6%2522%253E%2520%25E2%259C%2594%25EF%25B8%258F%2520This%2520is%2520Success%2520%253C%252Fdiv%253E%250A%2520%253C%252Fdiv%253E"
                        style="width: 532px; height: 357px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>
